<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - QQMusic WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QQMusic WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QQMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F864C9F1ACFAEAB00FEA39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F864CB41ACFAEAB00FEA39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA110D81AD8B78300D7F81E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA110FF1AD8BB0100D7F81E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA111221AD8BB2400D7F81E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
